@using PortfolioSite.Models
@inject IJSRuntime JS

<section id="skills" class="skills__section">
    <div class="skills__container">
        <h2 class="skills__title">Skills</h2>

        <div class="skills__grid">
            @foreach (var category in UserData.Skills)
            {
                <div class="skills__card">
                    <h3>@category.Title</h3>

                    <div class="skills__list">
                        @foreach (var skill in category.Skills)
                        {
                            <span class="skills__badge">@skill</span>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>


